<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Ticket Logger - Insertar/Actualizar Provincia')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1 th:text="${provincia.id == null ? 'Añadir Nueva Provincia' : 'Editar Provincia'}"></h1>

    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="${provincia.id == null} ? @{/provincias/insert} : @{/provincias/update}"
          th:object="${provincia}" method="post" class="mt-4">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="code" class="form-label">Code:</label>
            <input type="text" th:field="*{code}" id="code" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="comunidadId" class="form-label">Comunidad Autónoma:</label>
            <select th:field="*{comunidadId}" id="comunidadId" class="form-select" required>
                <option value="">-- Selecciona a Community --</option>
                <option th:each="comunidad : ${listComunidades}" th:value="${comunidad.id}" th:text="${comunidad.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary"
                th:text="${provincia.id == null ? 'Crear' : 'Actualizar'}"></button>
    </form>

    <a th:href="@{/provincias}" class="btn btn-secondary mt-3">Back To List</a>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
